<!DOCTYPE html>
<html lang="en>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <script async src="/javascripts/scripts.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>cookEATreapeat <%= title %></title>
</head>
