<!DOCTYPE html>
<html lang="en>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <script async src="/javascripts/date.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>cookEATreapeat <%= title %></title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/recipes/beef">Beef</a>
        <a href="/recipes/chicken">Chicken</a>
        <a href="/recipes/pork">Pork</a>
        <a href="/recipes/lamb">Lamb</a>
        <a href="/recipes/seafood">Seafood</a>
        <a href="/recipes/dessert">Dessert</a>
        <a href="/add">Uplaod</a>
    </div>