<% include global/header.ejs %>
<div class="main">
        <h1>
            <%= message %>
        </h1>

        <div class="row">
            <div class="column">
                <img src="/images/<%= recipe.id %>_400x300.jpg" style="width:100%">
                <h3>Algorithm:</h3>
                <ol>
					<%- recipe.algorithm %>
                </ol>
            </div>
            <div class="column">
				<h3>Variables:</h3>
                <ul>
					<%- recipe.variables %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<footer>
    <p>&copy; Recipes by Cj</p>
    <address>
        Contact <a href="mailto:cjdelduco@gmail.com">me</a>
    </address>
</footer>