<% include global/header.ejs %>
    <div class="main">
        <h1>
            Hello, World!
        </h1>
        <h4 id="date"></h4>

        <div class="row">
            <div class="column">
                <a href="/recipes/beef/0">
                    <img src="images/0_400x300.jpg" style="width:100%">
                </a>
                <img src="images/1_recipe.jpg" style="width:100%">
                <a href="/recipes/beef/2">
                    <img src="images/2_400x300.jpg" style="width:100%">
                </a>
                <img src="images/3_recipe.jpg" style="width:100%">
                <a href="/recipes/beef/4">
                    <img src="images/4_400x300.jpg" style="width:100%">
                </a>
                <img src="images/5_recipe.jpg" style="width:100%">
                <a href="/recipes/pork/6">
                    <img src="images/6_400x300.jpg" style="width:100%">
                </a>
                <img src="images/7_recipe.jpg" style="width:100%" />
                <a href="/recipes/chicken/8">
                    <img src="images/8_400x300.jpg" style="width:100%">
                </a>
                <img src="images/9_recipe.jpg" style="width:100%">
                <a href="/recipes/beef/10">
                    <img src="images/10_400x300.jpg" style="width:100%">
                </a>
                <img src="images/11_recipe.jpg" style="width:100%" />
                <a href="/recipes/seafood/12">
                    <img src="images/12_400x300.jpg" style="width:100%">
                </a>
                <img src="images/13_recipe.jpg" style="width:100%">
                <a href="/recipes/beef/14">
                    <img src="images/14_400x300.jpg" style="width:100%">
                </a>
            </div>
            <div class="column">
                <img src="images/0_recipe.jpg" style="width:100%">
                <a href="/recipes/pork/1">
                    <img src="images/1_400x300.jpg" style="width:100%">
                </a>
                <img src="images/2_recipe.jpg" style="width:100%">
                <a href="/recipes/beef/3">
                    <img src="images/3_400x300.jpg" style="width:100%">
                </a>
                <img src="images/4_recipe.jpg" style="width:100%">
                <a href="/recipes/lamb/5">
                    <img src="images/5_400x300.jpg" style="width:100%">
                </a>
                <img src="images/6_recipe.jpg" style="width:100%">
                <a href="/recipes/beef/7">
                    <img src="images/7_400x300.jpg" style="width:100%">
                </a>
                <img src="images/8_recipe.jpg" style="width:100%" />
                <a href="/recipes/dessert/9">
                    <img src="images/9_400x300.jpg" style="width:100%">
                </a>
                <img src="images/10_recipe.jpg" style="width:100%">
                <a href="/recipes/pork/11">
                    <img src="images/11_400x300.jpg" style="width:100%">
                </a>
                <img src="images/12_recipe.jpg" style="width:100%" />
                <a href="/recipes/seafood/13">
                    <img src="images/13_400x300.jpg" style="width:100%">
                </a>
                <img src="images/14_recipe.jpg" style="width:100%">
            </div>
        </div>
    </div>
</body>
</html>
<footer>
    <p>&copy; Recipes by Cj</p>
    <address>
        Contact <a href="mailto:cjdelduco@gmail.com">me</a>
    </address>
</footer>