<% include global/header.ejs %>
    <div class="main">
        <h1>
            Show me your <em><strong>pics!</strong></em>
        </h1>
        <h4 id="date"></h4>

        <div class="row">
            <div class="column">
                <form action="" method="post" enctype="multipart/form-data">
                    
					<input type="text" name="name" id="name" placeholder="Name" required>
					<select id="animal" name="animal" required>
                        <option selected disabled>Choose Animal</option>
                        <option>Beef</option>
                        <option>Chicken</option>
                        <option>Dessert</option>
                        <option>Lamb</option>
						<option>Pork</option>
						<option>Seafood</option>
                    </select>
					</br>
					<label for="recipe-img"><b>Recipe Image</b></label><br>
                    <input type="file" name="image" id="recipe-img" required>

					<button type="submit">Add Recipe</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
<footer>
    <p>&copy; Recipes by Cj</p>
    <address>
        Contact <a href="mailto:cjdelduco@gmail.com">me</a>
    </address>
</footer>